<% layout('layouts/boilerplate.ejs') %>
<div class="emp-prefilled">
    <h3>Prefilled Details</h3>
    <p>Personal No.: <%= currentUser.username %></p>
    <p>Name: <%= currentUser.name %></p>
    <p>Department: <%= dept.name %></p>
    <p>Designation: <%= currentUser.designation %></p>
    <p>Main Mobile No.: <%= currentUser.mobile %></p>
</div>
<hr>
<form action="/profile/details" method="post" class="emp-details">
    <h3>Add Details</h3>
    <div>
        <label for="">Alternate Contacts:</label>
        <textarea name="alt_conts" id="" cols="30" rows="2" maxlength="50" placeholder="Number1, Number2..."><%= currentUser.alternate_contacts %></textarea>
    </div>
    <div>
        <label for="">Intercom:</label>
        <input type="text" name="intercom" maxlength="10" id="" placeholder="Number1, Number2..." value="<%= currentUser.intercom %>">
    </div>
    <div class="login-button-container">
        <button type="submit" name="button" class="btn login-btn">Submit</button>
    </div>
</form>