<% layout('layouts/boilerplate.ejs') %>
<div class="emp-prefilled">
    <h3>Prefilled Details</h3>
    <p>Personal No.: <%= currentUser.username %></p>
    <p>Name: <%= currentUser.name %></p>
    <p>Department: <%= dept.name %></p>
    <p>Designation: <%= currentUser.designation %></p>
    <p>Main Mobile No.: <%= currentUser.mobile %></p>
</div>
<hr>
<form action="" class="emp-details">
    <h3>Add Details</h3>
    <div>
        <label for="">Alternate Contacts: </label>
        <textarea name="" id="" cols="30" rows="10"></textarea>
    </div>
    <div>
        <label for="">Intercom: </label>
        <input type="text" name="" id="">
    </div>
    <div>
        <label for="">Blood group: </label>
        <select name="" id="">
            <option value="A+">A+</option>
            <option value="A-">A-</option>
            <option value="B+">B+</option>
            <option value="B-">B-</option>
            <option value="O+">O+</option>
            <option value="O-">O-</option>
            <option value="AB+">AB+</option>
            <option value="AB-">AB-</option>
        </select>
    </div>
    <div class="login-button-container">
        <button type="submit" name="button" class="btn login-btn">Submit</button>
    </div>
</form>