<% layout('layouts/boilerplate.ejs') %>
<!-- Variables passed:-
    {addDays,format} = require('date-fns');// scheduledShifts = {date('dd/MM/yyyy'): [shifts]}// today 
    Post:
    {date1:{date: 'yyyy-MM-dd', shift: {'A': 'on', 'B': 'on'}}, date2:}
-->
<form action="" class="shift-sch-frm">
    <table>
        <thead class="schd-head">
            <tr class="row-1">
                <th class="cell-1" colspan="2">Shift Scheduler</th>
            </tr>
            <tr class="row-2">
                <th class="cell-1">Date</th>
                <th class="cell-2">Shift</th>
            </tr>
        </thead>
        <tbody class="schd-body">
            <% for( let index = 3, i = 1; index < 33; index++, i++ ) { %>
                <tr class="row-<%= index %>">
                    <td class="cell-1"><%= format(addDays(today, (i-1)), 'dd/MM/yyyy') %></td>
                    <td class="cell-2">
                        <i style="display: none;"><input type="date" name="Date<%= i %>[date]" value="<%= format(addDays(today, (i-1)), 'yyyy-MM-dd') %>"></i>
                        <% for( let j of validShifts ) { %>
                            <% if (Object.keys(scheduledShifts).includes(format(addDays(today, (i-1)), 'dd/MM/yyyy'))) { %>
                                <% if (scheduledShifts[format(addDays(today, (i-1)), 'dd/MM/yyyy')].includes(j) { %>
                                    <input type="checkbox" name="Date<%= i %>[shift][<%= j %>]" id="shift<%= j %>" class="shift<%= j %>" checked><label for="shift<%= j %>" class="label-shift<%= j %>"><%= j %></label>
                                <% } else { %>
                                    <input type="checkbox" name="Date<%= i %>[shift][<%= j %>]" id="shift<%= j %>" class="shift<%= j %>"><label for="shift<%= j %>" class="label-shift<%= j %>"><%= j %></label>
                                <% } %>
                            <% } else { %>
                                <input type="checkbox" name="Date<%= i %>[shift][<%= j %>]" id="shift<%= j %>" class="shift<%= j %>"><label for="shift<%= j %>" class="label-shift<%= j %>"><%= j %></label>
                            <% } %>
                        <% } %>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
    <div class="login-button-container">
        <button type="button" name="button" class="btn login-btn">Submit</button>
    </div>
</form>