<nav>
    <ul class="menu">
        <% if (currentUser) { %>
        <li class="logo"><a style="cursor: default">Digital Potline/<i style="font-size: small;"><%= currentUser.name %></i></a></li>            
        <% } else {%>
        <li class="logo"><a style="cursor: default">Digital Potline</a></li>
        <% } %> 
        <% if(role) {%>
            <% for (let tab of Object.keys(role)) {%>
                <% if (typeof role[tab] === 'string') {%>
                    <li class="item"><a href="<%= role[tab] %>"><%= tab %></a></li>
                <% } else {%>
                    <li class="item has-submenu">
                        <a tabindex="0"><%= tab %></a>
                        <ul class="submenu">
                            <% for( let subtab of Object.keys(role[tab]) ) { %>
                                <li class="subitem"><a href="<%= role[tab][subtab] %>"><%= subtab %></a></li>
                            <% } %>
                        </ul>
                    </li>
                <% } %>
            <% } %>
        <% } %>
        <!-- <li class="item"><a href="#">About</a></li>
        <li class="item has-submenu">
            <a tabindex="0">Services</a>
            <ul class="submenu">
                <li class="subitem"><a href="#">Design</a></li>
                <li class="subitem"><a href="#">Development</a></li>
                <li class="subitem"><a href="#">SEO</a></li>
                <li class="subitem"><a href="#">Copywriting</a></li>
            </ul>
        </li>
        <li class="item has-submenu">
            <a tabindex="0">Plans</a>
            <ul class="submenu">
                <li class="subitem"><a href="#">Freelancer</a></li>
                <li class="subitem"><a href="#">Startup</a></li>
                <li class="subitem"><a href="#">Enterprise</a></li>
            </ul>
        </li>
        <li class="item"><a href="#">Blog</a></li>
        <li class="item"><a href="#">Contact</a></li>
        <li class="item button"><a href="#">Log In</a></li> -->
        <% if (currentUser) { %>
            <li class="item button"><a href="/logout">Log Out</a></li>
        <% } else { %>
            <li class="item button"><a href="/login">Log In</a></li>
        <% } %> 
        <!-- <li class="item button secondary"><a href="#">Sign Up</a></li> -->
        <li class="toggle"><a href="#"><i class="fas fa-bars"></i></a></li>
    </ul>
</nav>